apiVersion: apps/v1beta1
kind: Deployment
metadata:
  labels:
    app: gl-api
  name: gl-api-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gl-api
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: gl-api
    spec:
      containers:
      - env:
        - name: mongo-db-uri
          valueFrom:
            configMapKeyRef:
              key: api-mongouri
              name: gl-config
        image: gcr.io/oceanic-isotope-199421/github-zmad5306-gl-api:4231aedb47df6dadd885bedbfb886e47b0330fad
        imagePullPolicy: Always
        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /api/actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 30
        name: gl-api
        ports:
        - containerPort: 8080
        readinessProbe:
          failureThreshold: 5
          httpGet:
            path: /api/actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 30
        resources:
          limits:
            memory: 512Mi
          requests:
            memory: 256Mi
