apiVersion: apps/v1beta1
kind: Deployment
metadata:
  labels:
    app: gl-dept
  name: gl-dept-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gl-dept
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: gl-dept
    spec:
      containers:
      - env:
        - name: mongo-db-uri
          valueFrom:
            configMapKeyRef:
              key: dept-mongouri
              name: gl-config
        image: gcr.io/grocery-list-205220/github-zmad5306-gl-dept:c2bc4bd52cc338e9ea6b66ca9d6861d33b7d502f
        imagePullPolicy: Always
        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /dept/actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 30
        name: gl-dept
        ports:
        - containerPort: 8080
        readinessProbe:
          failureThreshold: 5
          httpGet:
            path: /dept/actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 30
        resources:
          limits:
            memory: 256Mi
          requests:
            memory: 128Mi
