apiVersion: apps/v1beta1
kind: Deployment
metadata:
  labels:
    app: gl-item
  name: gl-item-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gl-item
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: gl-item
    spec:
      containers:
      - env:
        - name: mongo-db-uri
          valueFrom:
            configMapKeyRef:
              key: item-mongouri
              name: gl-config
        image: gcr.io/oceanic-isotope-199421/github-zmad5306-gl-item:f3f5c287448c3d2afd83c6431b3a657b02b39872
        imagePullPolicy: Always
        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /item/actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 30
        name: gl-item
        ports:
        - containerPort: 8080
        readinessProbe:
          failureThreshold: 5
          httpGet:
            path: /item/actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 30
        resources:
          limits:
            memory: 256Mi
          requests:
            memory: 128Mi
