apiVersion: apps/v1beta1
kind: Deployment
metadata:
  labels:
    app: gl-list
  name: gl-list-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: gl-list
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: gl-list
    spec:
      containers:
      - env:
        - name: mongo-db-uri
          valueFrom:
            configMapKeyRef:
              key: list-mongouri
              name: gl-config
        image: gcr.io/oceanic-isotope-199421/github-zmad5306-gl-list:e852159f68691cb6ca9536dfe4245540d072f49a
        imagePullPolicy: Always
        livenessProbe:
          failureThreshold: 5
          httpGet:
            path: /list/actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 30
        name: gl-list
        ports:
        - containerPort: 8080
        readinessProbe:
          failureThreshold: 5
          httpGet:
            path: /list/actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 30
          successThreshold: 1
          timeoutSeconds: 30
        resources:
          limits:
            memory: 256Mi
          requests:
            memory: 128Mi
